<html>
  <head>
    <!-- <title>A Rack Demo</title> -->
    <%= render_partial "base/_head.html.erb" %>
  </head>
  <body>
    <h1>This is the root page</h1>
    <p>Hello from a template!</p>  
    <h2>Resources</h2>
    <ul>
      <li><a href="/products">Products</a></li>
    </ul>
  </body>
</html>
