<html>
  <head>
    <!-- <title><%#= @title %></title> -->
  </head>
  <body>
    <div>
      <h1><%= @title %></h1>
      <p><a href="/products">Back to the list</a></p>
      <p>
        Product no: is <%= @product.id %>, Product name: is <strong><%= @product.name %></strong>
      </p>
    </div>
  </body>
</html>
